version: '3.8'

services:
  app:
    build: .
    ports:
      - 3000:3000
    environment:
      NODE_ENV: production
      DB_HOST: localhost
    volumes:
      - sqlite_data:/usr/src/app/src/database
    command: npm run start:prod

volumes:
  sqlite_data:

